<%inherit file="layout.html"/>

<%block name="css">
  <%
  #
  %>
  ${parent.css()}
  <link rel="stylesheet" href="/REPLACE_ADDON_SHORT/static/css/example.min.css">
</%block>

<%block name="js">
  <%
  #
  %>
  ${parent.js()}
  <script src="/REPLACE_ADDON_SHORT/static/js/stomp.min.js"></script>
  <script src="/REPLACE_ADDON_SHORT/static/js/example.js"></script>
</%block>

<%block name="content">
  <%
  #
  %>
  <div class="container">
    <h1>NextTao</h1>
    <h2>Hello Example</h2>
    <div ng-controller="ShowerCtrl"></div>
  </div>

  <footer class='container' >
    Copyright
  </footer>
</%block>
