<!DOCTYPE html>
<html>
<head>
  <%block name="ctx"></%block>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="format-detection" content="telephone=no" />

  <title><%block name="title">NextTao</%block></title>

  <%block name="css">
    <link rel="stylesheet" href="/REPLACE_ADDON_SHORT/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/REPLACE_ADDON_SHORT/static/css/font-awesome.min.css">
  </%block>
</head>

<body>

  <%block name="content"></%block>

  <%block name="js">
    <script src="/REPLACE_ADDON_SHORT/static/js/angular.min.js"></script>
    <script src="/REPLACE_ADDON_SHORT/static/js/lodash.min.js"></script>
  </%block>

</body>
</html>
